{% extends 'DnseeTutorialBundle::layout.html.twig' %}

{% block title %}RabbitMQ Tutorial - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set simple_rpc = url('_simpleRpc') %}
    {% set parallel_rpc = url('_parallelRpc') %}

    <h1>RPC Examples</h1>

    <div class="block-community">
        <ul><b>1. Simple RPC (Request/reply) <a href="http://www.rabbitmq.com/tutorials/tutorial-six-java.html" target="_blank">scenario 6</a></b></ul>
        <ul><a href="http://www.rabbitmq.com/tutorials/tutorial-six-java.html" target="_blank"><img width="180" src="http://www.rabbitmq.com//img/tutorials/python-six.png"></a></ul>
        <ul>attiva server rpc da shell</ul>
        <ul><i>> php app/console rabbitmq:rpc-server random_int</i></ul>
        <ul>attiva la request</ul>
        <ul><a href="{{ simple_rpc }}" target="_blank">{{ simple_rpc }}</a></ul>
        <ul><br></ul>
        <ul><b>2. Parallel RPC</b></ul>
        <ul>attiva server RPC da shell, service A</ul>
        <ul><i>> php app/console rabbitmq:rpc-server service_a</i></ul>
        <ul>attiva server RPC da shell, service B</ul>
        <ul><i>> php app/console rabbitmq:rpc-server service_b</i></ul>
        <ul>attiva la request</ul>
        <ul><a href="{{ parallel_rpc }}" target="_blank">{{ parallel_rpc }}</a></ul>


    </div>
{% endblock %}
