{% extends 'DnseeTutorialBundle::layout.html.twig' %}

{% block title %}RabbitMQ Tutorial - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>STDIN Producer</h1>

    <div class="block-community">
        <ul><b>STDIN Producer (Bundle's tool)</b></ul>
        <ul>attiva consumer da shell</ul>
        <ul><i>> php app/console rabbitmq:consumer stdin_message</i></ul>
        <ul>attiva producer da shell che invia il contenuto di un files</ul>
        <ul><i>> php app/console rabbitmq:stdin-producer words < message.txt</i></ul>
    </div>
{% endblock %}
