{% extends 'DnseeTutorialBundle::layout.html.twig' %}

{% block title %}RabbitMQ Tutorial - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Topic Examples</h1>

    {% set my_url_info  = url('_log', { 'severity': 'message.info', 'message':'registration.ok' }) %}
    {% set my_url_error = url('_log', { 'severity': 'message.error','message':'registration.ko' }) %}


    <div class="block-community">
        <ul><b>1. Topic <a href="http://www.rabbitmq.com/tutorials/tutorial-five-java.html" target="_blank">scenario 5</a></b></ul>
        <ul><a href="http://www.rabbitmq.com/tutorials/tutorial-five-java.html" target="_blank"><img width="180" src="http://www.rabbitmq.com//img/tutorials/python-five.png"></a></ul>
        <ul>attiva consumer su tutti i messaggi del topic da shell</ul>
        <ul><i>> php app/console rabbitmq:anon-consumer -m 10 logs_watcher</i></ul>
        <ul>attiva consumer dei soli messaggi error del topic da shell</ul>
        <ul><i>> php app/console rabbitmq:anon-consumer  -m 10 -r '#.error' logs_watcher</i></ul>
        <ul>Invia messaggio di info, consumato solo dal generico consumer</ul>
        <ul><a href="{{ my_url_info }}" target="_blank">{{ my_url_info }}</a></ul>
        <ul>Invia messaggio di error, consumato da entrambi i consumer</ul>
        <ul><a href="{{ my_url_error }}" target="_blank">{{ my_url_error }}</a></ul>
    </div>
{% endblock %}
